<template>
  <div>
    <div v-for="hotel in hotels" :key="hotel.id" class="row">
      <div class="column left">
        <ItemImage :image="hotel.img" />
      </div>
      <div class="column right">
        <Description :hotel="hotel" />
      </div>
    </div>
  </div>
</template>

<script>
import ItemImage from "../item/ItemImage";
import Description from "../item/Description";
import { mapActions, mapState } from "vuex";

export default {
  name: "ColumnRight",
  components: {
    ItemImage,
    Description,
  },
  computed: {
    ...mapState({
      hotels: ({ sortedHotels }) => sortedHotels,
    }),
  },
  methods: {
    ...mapActions["ListHotel"],
  },
  mounted() {
    this.$store.dispatch("ListHotel");
  },
};
</script>

<style scoped>
.app-content {
  padding: 40px 15px;
}
.column {
  float: left;
}

.left {
  width: 30%;
  margin: 10px 20px;
}
.right {
  width: 60%;
  margin: 10px 20px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}
</style>
