<template>
  <div>
    <Collapssible title="Поиск по странам">
      <template #body>
        <Select
          :options="country"
          :selected="selected"
          @select="sortByCountry"
        />
      </template>
    </Collapssible>
    <Collapssible title="Звезды">
      <template #body>
        <Stars></Stars>
      </template>
    </Collapssible>
    <Collapssible title="Тип">
      <template #body>
        <Type></Type>
      </template>
    </Collapssible>

    <Collapssible title="Цена">
      <template #body>
        <RangeSlider />
      </template>
    </Collapssible>

    <p @click="allFilterNull">Сбросить все фильтры</p>
  </div>
</template>

<script>
import Select from "../Main/Select";
import Collapssible from "../Collapssible";
import Stars from "../Stars";
import Type from "../Type";
import RangeSlider from "../RangeSlider";
import { mapGetters } from "vuex";

export default {
  name: "ColumnMiddle",
  components: {
    Select,
    Collapssible,
    Stars,
    Type,
    RangeSlider,
  },
  computed: {
    ...mapGetters["getListHotel"],
    country() {
      return this.$store.state.country;
    },
    selected() {
      return this.$store.state.selected;
    },
    sortedHotels() {
      return this.$store.state.sortedHotels;
    },
    filteredProducts() {
      if (this.sortedHotels.length) {
        return this.sortedHotels;
      } else {
        return this.getListHotel;
      }
    },
  },
  methods: {
    allFilterNull() {
      this.$store.dispatch("FilterNull");
    },
    sortByCountry(filter) {
      const country = {
        country: filter,
      };
      this.$store.dispatch("addFilter", country);
    },
  },
};
</script>

<style></style>
