<template>
  <div class="row">
    <div class="column left">
      <h6>{{ hotel.address }}</h6>
      <h2>{{ hotel.name }}</h2>
      <ItemStar :hotel="hotel" />
      <h5>{{ hotel.description }}</h5>
    </div>
    <div class="column right">
      <div class="last_review" v-if="hotel.last_review">
        <span>
          <img src="@/assets/star-red.png" alt="" />
        </span>
        <span class="last_review__rating">{{ hotel.rating }}</span>
        <span class="last_review__rating">{{ evaluation }}</span>
        <span class="last_review__rating"
          >{{ hotel.reviews_amount }} отзывов</span
        >
        <div>{{ hotel.last_review }}</div>
      </div>
      <div
          v-else
          class="last_review__no-star-block"
      >
        <span>
          <img src="@/assets/NoReview.png" alt="" />
        </span>
        <span class="last_review__no-star">Нет оценок.</span>
      </div>
      <div>
        <span class="last_review__price">от {{ hotel.min_price }} {{ hotel.currency }}</span>
        <span>
          <button class="last_review__button">Забронировать</button>
        </span>
      </div>
    </div>
  </div>
</template>

<script>
import ItemStar from "./ItemStar";
export default {
  name: "Description",
  components: {
    ItemStar,
  },
  props: {
    hotel: {
      type: Object,
    },
  },
  data() {
    return {
      hotels: [],
    };
  },
  computed: {
    evaluation() {
      switch (+this.hotel.rating) {
        case 3:
        case 3.5:
          return "Нормально";
        case 4:
        case 4.5:
          return "Хорошо";
        case 5:
          return "Отлично";
        default:
          return "Плохо";
      }
    },
  },
};
</script>

<style scoped>
.last_review__price {
  font-size: 14px;
}
.last_review__button {
  margin: 5px;
  font-size: 14px;
  width: 140px;
  height: 50px;
  background-color: #ff4641;
  position: relative;
  color: #eeeeee;
  border: 0;
  border-radius: 2px;
}

.column {
  float: left;
}

.left {
  margin: 20px 0;
  width: 60%;
}

.right {
  width: 35%;
  margin: 20px 10px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}
.last_review {
  font-size: 14px;
  line-height: 17px;
  margin: 20px;
  padding: 10px;
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  width: 100%;
  height: 220px;
  background-color: #f9f7f2;
}
.last_review__rating {
  margin-left: 5px;
  font-family: KievitPro;
  font-weight: bold;
  font-size: 14px;
  font-style: normal;
  line-height: 17px;
}
.last_review__no-star {
  font-size: 14px;
  color: #959595;
  margin: 10px;
}
.last_review__no-star-block {
  background-color:#F9F7F2;
  width: 100%;
  height: 67px;
}
</style>
