<template>
  <div class="item__img">
    <img :src="this.image" alt="">
  </div>
</template>

<script>
export default {
  name: "ItemImage",
  props: {
    image: {
      type: String
    }
  }
};
</script>

<style scoped>
.item__img {
  height: 290px;
  width: 280px;
  border: 1px solid #444444;
  margin: 20px;
}
</style>
