<template>
  <div class="item__star">
    <span>
      <star-rating
        v-model="StarForRating"
        :star-size="15"
        :inline="true"
      ></star-rating>
      звезды
      <button>{{ hotel.type }}</button>
    </span>
  </div>
</template>

<script>
import StarRating from "vue-star-rating";

export default {
  name: "ItemStar",
  components: {
    StarRating,
  },
  props: {
    hotel: Object,
  },
  computed: {
    StarForRating() {
      return +this.hotel.stars;
    },
  },
};
</script>

<style scoped>
.item__star {
  vertical-align: middle;
  margin: 5px 10px;
}
</style>
