<template>
  <div class="container">
    <button class="collapsible" @click="OpenCollapsible">
      {{ title }}
      <img
        v-show="show"
        class="collapsible__arrow"
        src="../assets/up-arrow.png"
        alt=""
      />
      <img
        v-show="!show"
        class="collapsible__arrow"
        src="../assets/down-arrow.png"
        alt=""
      />
    </button>
    <div class="content" v-if="show">
      <slot class="" name="body"></slot>
    </div>
  </div>
</template>

<script>
export default {
  name: "Collapssible",
  props: {
    title: {
      type: String,
      default: "",
    },
  },
  data() {
    return {
      show: false,
    };
  },
  methods: {
    OpenCollapsible() {
      this.show = !this.show;
    },
  },
};
</script>

<style scoped>
.container {
  margin: 20px;
  width: 100%;
}
.collapsible {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
}
.collapsible__arrow {
  padding-right: 5px;
  float: right;
}
.collapsible:hover {
  background-color: #ccc;
}
.content {
  padding: 0 18px;
  overflow: hidden;
  border: 1px solid #e5e5e5;
}
.collapsible:after {
  font-size: 13px;
  color: white;
  float: right;
  margin-left: 5px;
}

.active:after {
  content: url("../assets/up-arrow.png");
}
</style>
