<template>
  <div class="app-content">
    <vue-range-slider
      :bg-style="bgStyle"
      :tooltip-style="tooltipStyle"
      :process-style="processStyle"
      v-model="value"
    ></vue-range-slider>
  </div>
</template>

<script>
import VueRangeSlider from "vue-range-component";
import "vue-range-component/dist/vue-range-slider.css";

export default {
  name: "RangeSlider",
  components: {
    VueRangeSlider,
  },
  data() {
    return {
      value: [0, 55],
      processStyle: {},
      tooltipStyle: {},
      max: 100,
      bgStyle: {}
    };
  },
  created() {
    this.min = 0;
    this.max = 100;
    this.bgStyle = {
      backgroundColor: "#fff",
      boxShadow: "inset 0.5px 0.5px 3px 1px rgba(0,0,0,.36)",
    };
    this.tooltipStyle = {
      backgroundColor: "black",
      borderColor: "#666",
    };
    this.processStyle = {
      backgroundColor: "#FF4641",
    };
  },
};
</script>

<style scoped>
* {
  margin:0;
  padding:0;
  box-sizing:border-box;
}

.app-content {
  padding:40px 15px;
}
</style>
