<template>
  <div>
    <form class="search" action="">
      <input
        type="text"
        placeholder="Введите страну, например, Россия"
        name="search"
      />
    </form>
  </div>
</template>

<script>
export default {
  name: "SearchCountry",
};
</script>

<style>
.search {
  padding: 10px 5px;
  width: 90%;
}
.search input[type="text"] {
  padding: 20px;
  font-size: 15px;
  border: 1px solid #e5e5e5;
  width: 90%;
}
</style>
