<template>
  <div>
    <div
      v-for="option in options"
      :key="option.value"
      @click="selectOption(option.filter)"
    >
      <label class="container">
        {{ option.name }}
        <input type="radio" name="radio" />
        <span class="checkmark"></span>
      </label>
    </div>
  </div>
</template>

<script>
export default {
  name: "Stars",
  data() {
    return {
      checked: "",
      options: [
        {
          name: "Без звезд",
          value: "0",
          filter: {
            stars: "0",
          },
        },
        { name: "1 звезда", value: "1", stars: "1", filter: { stars: "1" } },
        { name: "2 звезды", value: "2", stars: "2", filter: { stars: "2" } },
        { name: "3 звезды", value: "3", stars: "3", filter: { stars: "3" } },
        { name: "4 звезды", value: "4", stars: "4", filter: { stars: "4" } },
        { name: "5 звезд", value: "5", stars: "5", filter: { stars: "5" } },
      ],
    };
  },
  methods: {
    selectOption(option) {
      // console.log(option)
      this.$store.dispatch("addFilter", option);
    },
  },
};
</script>

<style scoped>
.container {
  display: block;
  position: relative;
  padding-left: 5px;
  margin: 12px;
  cursor: pointer;
  font-size: 15px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  width: 20px;
  border: 2px solid #d5cdbe;
  border-radius: 2px;
}

.container input:checked ~ .checkmark {
  background-color: #ff4641;
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.container input:checked ~ .checkmark:after {
  display: block;
}

.container .checkmark:after {
  left: 5px;
  top: 4px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
</style>
