<template>
  <div style="margin-top: 20px">
    <label class="switch">
      <input type="radio" name="radio" v-model="typeHouse" value="Отели" />
      <span class="slider round" @click="sortByTypeHouse('Отель')"></span>
    </label>

    <label class="switch2">
      <input
        type="radio"
        name="radio"
        v-model="typeHouse"
        value="Апартаменты"
        @click="sortByTypeHouse('Апартаменты')"
      />
      <span class="slider2 round"></span>
    </label>
  </div>
</template>

<script>
export default {
  name: "Typ",
  data() {
    return {
      typeHouse: "",
    };
  },
  methods: {
    sortByTypeHouse(option) {
      const type = {
        type: option,
      };
      this.$store.dispatch("addFilter", type);
    },
  },
};
</script>

<style scoped>
.switch {
  position: relative;
  display: inline-block;
  width: 72px;
  height: 40px;
  margin: 10px;
}
.switch input {
  display: none;
}
.switch2 {
  position: relative;
  display: inline-block;
  width: 119px;
  height: 50px;
  margin: 10px;
}
.switch2 input {
  display: none;
}

.slider {
  margin: 20px;
  width: 60px;
  height: 40px;
  position: relative;
  padding: 10px;
  color: black;
  border: 0;
  border-radius: 2px;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  /*position: absolute;*/
  content: "Отели";
  height: 40px;
  width: 55px;
  left: 2px;
  bottom: 2px;
}

input:checked + .slider {
  background-color: #fde283;
}

.slider.round {
  border-radius: 34px;
}
.slider2 {
  margin-top: 10px;
  width: 140px;
  height: 40px;
  position: relative;
  padding: 10px;
  color: black;
  border: 0;
  border-radius: 2px;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider2:before {
  /*position: absolute;*/
  content: "Апартаменты";
  height: 40px;
  width: 100px;
  left: 4px;
  bottom: 10px;
}

input:checked + .slider2 {
  background-color: #fde283;
}

/* Rounded sliders */
.slider2.round {
  border-radius: 34px;
}
</style>
