<template>
  <div id="app">
    <div class="row">
      <div class="column left">
        <Collapssible title="Поиск по странам">
          <template #body>
            <Select
              :options="country"
              :selected="selected"
              @select="sortByCountry"
            />
          </template>
        </Collapssible>
      </div>
      <ColumnMiddle class="column middle" />
      <ColumnRight class="column right" />
    </div>
  </div>
</template>

<script>
import ColumnMiddle from "./components/Main/ColumnMiddle.vue";
import Collapssible from "./components/Collapssible.vue";
import ColumnRight from "./components/Main/ColumnRight.vue";
import Select from "./components/Main/Select.vue";
import { mapGetters } from "vuex";

export default {
  name: "App",
  components: {
    ColumnMiddle,
    Collapssible,
    ColumnRight,
    Select,
  },
  methods: {
    sortByCountry(filter) {
      const country = {
        country: filter,
      };
      this.$store.dispatch("addFilter", country);
    },
  },
  computed: {
    ...mapGetters(["getListHotel"]),
    country() {
      return this.$store.state.country;
    },
    selected() {
      return this.$store.state.selected;
    },
    sortedHotels() {
      return this.$store.state.sortedHotels;
    },
    filteredProducts() {
      if (this.sortedHotels.length) {
        return this.sortedHotels;
      } else {
        const sortProducts = this.getListHotel.filter(
          (item) => item.category === "Греция"
        );
        return sortProducts.sort((a, b) => (a.sort > b.sort ? 1 : -1));
      }
    },
  },
};
</script>

<style>
#app {
  font-family: KievitPro;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  margin-top: 60px;
}
.column {
  float: left;
}
.left {
  width: 15%;
  margin: 20px 5px;
}
.middle {
  width: 20%;
  margin: 20px 5px;
}

.right {
  width: 65%;
}
.row:after {
  content: "";
  display: table;
  clear: both;
}
</style>
